PORT=3050
BASE_URL=https://magiorix.red-magic.cn
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
TRUST_PROXY=127.0.0.1,::1
SMS_SECRET=
SMS_IP_HASH_SECRET=
LOG_IP_HASH_SECRET=
SMS_CODE_TTL_MS=300000
SMS_ENABLED=0
ALIYUN_SMS_ACCESS_KEY_ID=
ALIYUN_SMS_ACCESS_KEY_SECRET=
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=
ALIYUN_SMS_REGION_ID=cn-beijing
ALIYUN_SMS_ENDPOINT=https://dysmsapi.aliyuncs.com
ALIPAY_ENABLED=0
ALIPAY_APP_ID=
ALIPAY_SELLER_ID=
ALIPAY_PRIVATE_KEY_PATH=
ALIPAY_PUBLIC_KEY_PATH=
ALIPAY_NOTIFY_URL=https://magiorix.red-magic.cn/api/shumiao/alipay/notify
ALIPAY_RETURN_URL=https://magiorix.red-magic.cn/pay/return
WXPAY_ENABLED=0
WXPAY_APP_ID=
WXPAY_MCH_ID=
WXPAY_SERIAL_NO=
WXPAY_PRIVATE_KEY_PATH=
WXPAY_API_V3_KEY=
WXPAY_PUBLIC_KEY_PATH=
WXPAY_PUBLIC_KEY_ID=
WXPAY_NOTIFY_URL=https://magiorix.red-magic.cn/api/shumiao/wxpay/notify
RECONCILIATION_ENABLED=0
LOG_DIR=./logs
